Unity/Library/*.*
Unity/Temp/*.*
Unity/Temp/
Unity/Library/
Unity/Library/ScriptAssemblies/CompilationCompleted.txt
Unity/Unity.userprefs
Unity/Library/ScriptAssemblies/CompilationCompleted.txt
Unity/Library/metadata/05/05cf289aa996d4543ab6fb7e56e64def
Unity/Library/metadata/b6/b6d4b621a5fb817429401e37be43a014
Unity/Library/metadata/05/05cf289aa996d4543ab6fb7e56e64def